.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.my-icon {
	color: red;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.hero-section {
	align-items: flex-start;
	/* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
}

@media (min-width: 540px) {
	.card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 960px) {
	.card-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	list-style: none;
	position: relative;
}

.card:before {
	content: "";
	display: block;
	padding-bottom: 150%;
	width: 100%;
}

.card__background {
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	trsnsform: scale(1) translateZ(0);
	transition: filter 200ms linear, transform 200ms linear;
}

/* .card:hover .card__background {
	transform: scale(1.05) translateZ(0);
} */

/* .card-grid:hover > .card:not(:hover) .card__background {
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
} */

.card__content {
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
	padding: 10px;
}

.card__category {
	color: var(--text-light);
	font-size: 0.9rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
}

.card__heading {
	color: var(--text-lighter);
	font-size: 1.9rem;
	text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
	line-height: 1.4;
	word-spacing: 100vw;
}

.swiper-button-next {
	background-image: url(./assets/right.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-right: 13px;
	background-position: center;
	height: 40px !important;
	width: 40px !important;
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-prev {
	background-image: url(./assets/right.png);
	transform: rotate(180deg);
	margin-left: 13px;
	filter: saturate(3);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	height: 40px !important;
	width: 40px !important;
}

.swiper-button-prev::after {
	display: none;
}

@media only screen and (max-width: 600px) {
	.swiper-button-prev {
		height: 25px !important;
		width: 25px !important;
		margin-left: 3px;
	}
	.swiper-button-next {
		height: 25px !important;
		width: 25px !important;
		margin-right: 3px;
	}
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	background-color: white;
}
